#I1{
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}
#I2{
    border-color: black;
    border-style: initial;
    border-radius: 15px;
}
#I3{
    border-color: black;
    border-style: dashed;
    border-radius: 15px;
}
#I4{
    border-color: black;
    border-style: double;
    border-radius: 15px;
}
#I5{
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}
#I6{
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}
#I7{
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}
#I8{
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}
#I9{
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}
#I10{
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}